In [1]:
import pandas as pd

In [7]:
df = pd.read_csv('../Russell3000/Russell3000Regression.csv')
df

,datadate,yr_mo,fyear,tic,conm,cik,ggroup,gind,gsector,gsubind,log_assets,sales_growth,return_std,log_turnover,Skewness,Sharpe_Ratio,Securities,Total_Cases,securities_binary,litigation_binary
0,20110531,201105,2010.0,AIR,AAR CORP,1750.0,2010,201010,20,20101010,7.440573,0.313302,4.600250,13.596923,14.991578,0.126285,0.0,0.0,0.0,0.0
1,20120531,201205,2011.0,AIR,AAR CORP,1750.0,2010,201010,20,20101010,7.694235,0.168217,4.627977,13.675111,13.128846,-0.117570,0.0,0.0,0.0,0.0
2,20130531,201305,2012.0,AIR,AAR CORP,1750.0,2010,201010,20,20101010,7.667111,0.044638,2.023224,13.634210,24.818062,0.252264,0.0,0.0,0.0,0.0
3,20140531,201405,2013.0,AIR,AAR CORP,1750.0,2010,201010,20,20101010,7.695985,-0.060957,2.444836,13.549953,32.604433,0.048756,0.0,0.0,0.0,0.0
4,20150531,201505,2014.0,AIR,AAR CORP,1750.0,2010,201010,20,20101010,7.323171,-0.216560,1.852432,13.391156,45.178438,0.044659,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20482,20201231,202012,2020.0,ATH,ATHENE HOLDING LTD,1527469.0,4030,403010,40,40301020,12.219833,-0.091893,6.485948,15.348588,16.156851,-0.001487,0.0,0.0,0.0,0.0
20483,20191231,201912,2019.0,NVT,NVENT ELECTRIC PLC,1720635.0,2010,201040,20,20104010,8.442534,-0.004337,2.170105,14.931409,34.067477,0.023206,0.0,0.0,0.0,0.0
20484,20201231,202012,2020.0,NVT,NVENT ELECTRIC PLC,1720635.0,2010,201040,20,20104010,8.381625,-0.093194,2.726119,14.866853,22.082679,-0.013406,0.0,0.0,0.0,0.0
20485,20191231,201912,2019.0,ACA,ARCOSA INC,1739445.0,2010,201030,20,20103010,7.741751,0.189332,4.177775,13.747747,25.282000,0.124602,0.0,1.0,0.0,1.0
20486,20201231,202012,2020.0,ACA,ARCOSA INC,1739445.0,2010,201030,20,20103010,7.881069,0.114399,4.970117,13.545767,26.643234,0.052336,0.0,0.0,0.0,0.0

In [8]:
dft = pd.read_csv('../Russell3000/Russell-text-attrs.csv')
dft

,Files,num,year,wc_legal,wc_agreement,wc_class_action,wc_corporate_governance,wc_directors,wc_fiduciary,wc_foreign,wc_indemnification,wc_litigation,wc_regulation,wc_subsidiary,wc_statutes,wc_trademark,wc_withdrawl,length,cik
0,20160229_10-K_edgar_data_851968_0000851968-16-...,3,2016.0,22.0,72.0,4.0,5.0,25.0,1.0,68.0,3.0,21.0,24.0,9.0,0.0,17.0,0.0,366414.0,851968
1,20170227_10-K_edgar_data_851968_0000851968-17-...,3,2017.0,15.0,83.0,2.0,5.0,24.0,0.0,63.0,4.0,23.0,20.0,8.0,0.0,17.0,0.0,311699.0,851968
2,20180228_10-K_edgar_data_851968_0000851968-18-...,3,2018.0,18.0,43.0,2.0,6.0,30.0,0.0,67.0,2.0,18.0,26.0,9.0,0.0,16.0,0.0,336714.0,851968
3,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1679363
4,20160229_10-K_edgar_data_1581068_0001581068-16...,3,2016.0,42.0,178.0,2.0,3.0,118.0,2.0,4.0,3.0,4.0,28.0,11.0,1.0,2.0,0.0,463026.0,1581068
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7403,20170224_10-K_edgar_data_917491_0000917491-17-...,3,2017.0,14.0,43.0,1.0,5.0,26.0,0.0,73.0,0.0,10.0,24.0,1.0,0.0,2.0,0.0,283796.0,917491
7404,20180221_10-K_edgar_data_917491_0000917491-18-...,3,2018.0,29.0,62.0,1.0,5.0,26.0,0.0,70.0,1.0,9.0,38.0,1.0,1.0,4.0,0.0,431292.0,917491
7405,20160629_10-K_edgar_data_794619_0000794619-16-...,3,2016.0,6.0,34.0,0.0,5.0,33.0,0.0,0.0,0.0,3.0,15.0,8.0,1.0,2.0,0.0,150098.0,794619
7406,20170629_10-K_edgar_data_794619_0000794619-17-...,3,2017.0,6.0,34.0,0.0,5.0,44.0,0.0,0.0,0.0,3.0,15.0,7.0,1.0,2.0,0.0,158608.0,794619
7407,20180629_10-K_edgar_data_794619_0000794619-18-...,3,2018.0,6.0,56.0,0.0,4.0,33.0,0.0,7.0,0.0,3.0,26.0,6.0,1.0,8.0,0.0,234847.0,794619

In [9]:
dfv = df.merge(dft, how = 'left', left_on = ['fyear', 'cik'], right_on = ['year', 'cik'] )
dfv

,datadate,yr_mo,fyear,tic,conm,cik,ggroup,gind,gsector,gsubind,...,wc_fiduciary,wc_foreign,wc_indemnification,wc_litigation,wc_regulation,wc_subsidiary,wc_statutes,wc_trademark,wc_withdrawl,length
0,20110531,201105,2010.0,AIR,AAR CORP,1750.0,2010,201010,20,20101010,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20120531,201205,2011.0,AIR,AAR CORP,1750.0,2010,201010,20,20101010,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20130531,201305,2012.0,AIR,AAR CORP,1750.0,2010,201010,20,20101010,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20140531,201405,2013.0,AIR,AAR CORP,1750.0,2010,201010,20,20101010,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20150531,201505,2014.0,AIR,AAR CORP,1750.0,2010,201010,20,20101010,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20491,20201231,202012,2020.0,ATH,ATHENE HOLDING LTD,1527469.0,4030,403010,40,40301020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20492,20191231,201912,2019.0,NVT,NVENT ELECTRIC PLC,1720635.0,2010,201040,20,20104010,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20493,20201231,202012,2020.0,NVT,NVENT ELECTRIC PLC,1720635.0,2010,201040,20,20104010,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20494,20191231,201912,2019.0,ACA,ARCOSA INC,1739445.0,2010,201030,20,20103010,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20495,20201231,202012,2020.0,ACA,ARCOSA INC,1739445.0,2010,201030,20,20103010,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
ggroup = pd.read_excel('Industry_Code_Lookups.xlsx', sheet_name = 'ggroup')
dfv = dfv.merge(ggroup, how = 'left', left_on = 'ggroup', right_on = 'Code')
dfv

,datadate,yr_mo,fyear,tic,conm,cik,ggroup,gind,gsector,gsubind,...,wc_indemnification,wc_litigation,wc_regulation,wc_subsidiary,wc_statutes,wc_trademark,wc_withdrawl,length,Code,Name
0,20110531,201105,2010.0,AIR,AAR CORP,1750.0,2010,201010,20,20101010,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010,Capital Goods
1,20120531,201205,2011.0,AIR,AAR CORP,1750.0,2010,201010,20,20101010,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010,Capital Goods
2,20130531,201305,2012.0,AIR,AAR CORP,1750.0,2010,201010,20,20101010,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010,Capital Goods
3,20140531,201405,2013.0,AIR,AAR CORP,1750.0,2010,201010,20,20101010,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010,Capital Goods
4,20150531,201505,2014.0,AIR,AAR CORP,1750.0,2010,201010,20,20101010,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010,Capital Goods
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20491,20201231,202012,2020.0,ATH,ATHENE HOLDING LTD,1527469.0,4030,403010,40,40301020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4030,Insurance
20492,20191231,201912,2019.0,NVT,NVENT ELECTRIC PLC,1720635.0,2010,201040,20,20104010,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010,Capital Goods
20493,20201231,202012,2020.0,NVT,NVENT ELECTRIC PLC,1720635.0,2010,201040,20,20104010,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010,Capital Goods
20494,20191231,201912,2019.0,ACA,ARCOSA INC,1739445.0,2010,201030,20,20103010,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010,Capital Goods
20495,20201231,202012,2020.0,ACA,ARCOSA INC,1739445.0,2010,201030,20,20103010,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010,Capital Goods

In [12]:
dfv = dfv.rename(columns = {'Name': 'Industry Group'})
dfv

,datadate,yr_mo,fyear,tic,conm,cik,ggroup,gind,gsector,gsubind,...,wc_indemnification,wc_litigation,wc_regulation,wc_subsidiary,wc_statutes,wc_trademark,wc_withdrawl,length,Code,Industry Group
0,20110531,201105,2010.0,AIR,AAR CORP,1750.0,2010,201010,20,20101010,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010,Capital Goods
1,20120531,201205,2011.0,AIR,AAR CORP,1750.0,2010,201010,20,20101010,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010,Capital Goods
2,20130531,201305,2012.0,AIR,AAR CORP,1750.0,2010,201010,20,20101010,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010,Capital Goods
3,20140531,201405,2013.0,AIR,AAR CORP,1750.0,2010,201010,20,20101010,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010,Capital Goods
4,20150531,201505,2014.0,AIR,AAR CORP,1750.0,2010,201010,20,20101010,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010,Capital Goods
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20491,20201231,202012,2020.0,ATH,ATHENE HOLDING LTD,1527469.0,4030,403010,40,40301020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4030,Insurance
20492,20191231,201912,2019.0,NVT,NVENT ELECTRIC PLC,1720635.0,2010,201040,20,20104010,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010,Capital Goods
20493,20201231,202012,2020.0,NVT,NVENT ELECTRIC PLC,1720635.0,2010,201040,20,20104010,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010,Capital Goods
20494,20191231,201912,2019.0,ACA,ARCOSA INC,1739445.0,2010,201030,20,20103010,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010,Capital Goods
20495,20201231,202012,2020.0,ACA,ARCOSA INC,1739445.0,2010,201030,20,20103010,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010,Capital Goods

In [13]:
dfv.to_csv('Cleaned_4_Tableau.csv', index = False)