In [1]:
import pandas as pd

In [2]:
dfl = pd.read_csv('Final-Litigation.csv')
dfss = pd.read_csv('Final-SH.csv')

In [3]:
dfs = dfss.copy()

In [4]:
dfs.shape

(297468, 123)

In [5]:
dfs.head(3).iloc[:,:22]

,Case ID,Title,Search Hit,CIK Code,Auditor Key,Ticker,Named,Party Terminated Date,Party Settlement,Docket,...,Claim,Settlement,Exposure Began,Exposure Ended,Case Began,Case Ended,Case Outcome,Accounting and Auditing Enforcement Release,Accounting Malpractice,Administrative Law
0,3740,In Re Mannatech Inc Securities Litigation,Mannatech Inc,1056358.0,NaN,MTEX,Defendant (Lead),NaN,0,3:07-cv-00238,...,0,"11,250,000",2004-08-10,2007-07-05,2007-02-02,2009-03-10,NaN,0.0,0.0,0.0
1,3740,In Re Mannatech Inc Securities Litigation,Samuel L Caster,1106550.0,NaN,NaN,Defendant,NaN,0,3:07-cv-00238,...,0,"11,250,000",2004-08-10,2007-07-05,2007-02-02,2009-03-10,NaN,0.0,0.0,0.0
2,3740,In Re Mannatech Inc Securities Litigation,Jonathan Crowell,NaN,NaN,NaN,Plaintiff (Lead),NaN,0,3:07-cv-00238,...,0,"11,250,000",2004-08-10,2007-07-05,2007-02-02,2009-03-10,NaN,0.0,0.0,0.0

## Cleaning and Pre-processing

Start by dropping any row without a ticker:

In [109]:
print(dfs.shape)
dfs = dfs.dropna(axis = 0, subset = ['Ticker'])
print(dfs.shape)

(297468, 123)
(28389, 123)

Creating a column for case type:

In [110]:
dfs = dfs.reset_index(drop = True)
cols = []
for i in dfs.index:
    desc = list(dfs.iloc[i, 20:][dfs.iloc[i, 20:] > 0].index) #column names where categorical var is 1
    cols.append(desc)
    
dfs['Case_Type'] = cols

In [111]:
# can have more than one case type, though less than half do
pd.Series([len(item) for item in dfs['Case_Type']]).value_counts()

1    16299
2     6619
3     3709
4     1365
5      318
6       72
7        5
8        2
dtype: int64

In [112]:
dfs['Case_Type'][:5]

0    [Class Action, Securities/Commodities/Exchange...
1    [Accounting Malpractice, Class Action, Financi...
2    [Class Action, Financial Reporting, Securities...
3    [Accounting Malpractice, Stockholders' Suits (...
4                           [Other Contract (NOS 190)]
Name: Case_Type, dtype: object

Changing to dates to datetime datatype:

In [113]:
dfs.loc[:, 'Exposure Began'] = pd.to_datetime(dfs.loc[:, 'Exposure Began'], format = '%Y-%m-%d')
dfs.loc[:, 'Exposure Ended'] = pd.to_datetime(dfs.loc[:, 'Exposure Ended'], format = '%Y-%m-%d')
dfs.loc[:, 'Case Began'] = pd.to_datetime(dfs.loc[:, 'Case Began'], format = '%Y-%m-%d')
dfs.loc[:, 'Case Ended'] = pd.to_datetime(dfs.loc[:, 'Case Ended'], format = '%Y-%m-%d')
dfs['Year'] = dfs['Case Began'].dt.year

In [115]:
dfs.to_csv('Corporate_Lit_Outcomes_Clean.csv', index = False)
dfs

,Case ID,Title,Search Hit,CIK Code,Auditor Key,Ticker,Named,Party Terminated Date,Party Settlement,Docket,...,Stockholders' Suits (NOS 160),Suretyship,Taxes (NOS 870),Torts to Land (NOS 240),Trademark (NOS 840),Voting (NOS 441),Whistleblower (Qui Tam) (NOS 375),Withdrawal 28 USC § 157 (Bankruptcy) (NOS 423),Case_Type,Year
0,3740,In Re Mannatech Inc Securities Litigation,Mannatech Inc,1056358.0,NaN,MTEX,Defendant (Lead),NaN,0,3:07-cv-00238,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"[Class Action, Securities/Commodities/Exchange...",2007
1,1155,In Re Marsh & McLennan Companies Inc Securitie...,Marsh & McLennan Co Inc,62709.0,NaN,MMC,Defendant (Lead),NaN,0,1:06-md-01744-SWK,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"[Accounting Malpractice, Class Action, Financi...",2006
2,90,Twist Partners v. Hanger Orthopedic Group Inc ...,Hanger Orthopedic Group Inc,722723.0,NaN,HNGR,Defendant (Lead),NaN,0,8:06-cv-00579-AW,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"[Class Action, Financial Reporting, Securities...",2006
3,4912,Willinger v. Morgan Stanley & Company Inc et al,Citigroup Inc,831001.0,NaN,C,Defendant,NaN,0,1:06-cv-00167-SWK,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"[Accounting Malpractice, Stockholders' Suits (...",2006
4,4927,By Appointment Only Inc v. Citadel Security So...,Comerica Inc,28412.0,NaN,CMA,Defendant,NaN,0,1:05-cv-12550-JLT,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,[Other Contract (NOS 190)],2005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28384,11609,NL Industries Inc v. Commercial Union et al,NL Industries Inc,72162.0,NaN,NL,Plaintiff (Lead),NaN,0,2:90-cv-02125-WHW,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,[Insurance (NOS 110)],1990
28385,11194,United Technologies et al v. Heico Corp et al,United Technologies Corp,101829.0,NaN,RTX,Plaintiff (Lead),NaN,0,0:89-cv-06934-NCR,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,[Patent (NOS 830)],1989
28386,11194,United Technologies et al v. Heico Corp et al,Heico Corp,46619.0,NaN,HEI,Defendant (Lead),NaN,0,0:89-cv-06934-NCR,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,[Patent (NOS 830)],1989
28387,13732,Schmoll v. Acands Inc et al,Owens Illinois Inc,812074.0,NaN,OI,Defendant,NaN,0,3:86-cv-01313-PA,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,[Asbestos Personal Injury Product Liability (N...,1986
28388,13732,Schmoll v. Acands Inc et al,Owens Corning Fiberglas Corporation,1370946.0,NaN,OC,Defendant,NaN,0,3:86-cv-01313-PA,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,[Asbestos Personal Injury Product Liability (N...,1986

## Aggregating by Year

Filtering to defendants:

In [116]:
defend = ['Defendant (Lead)', 'Defendant', 'Nominal Defendant', 'Third Party Defendant', 'Defendant (Consolidated)', 
          'Defendant (Lead) (Consolidated)','Nominal Defendant (Lead)','Nominal Defendant (Consolidated)', 
          'Third Party Defendant (Lead)','Third Party Defendant (Consolidated)']

In [117]:
print(dfs.shape)
dfs = dfs[dfs['Named'].isin(defend)]
print(dfs.shape)

(28389, 125)
(19437, 125)

In [118]:
# new dataframe for all cases by year and company
dfall =  dfs.groupby(['Ticker', 'Year']).count()['Case_Type']
dfall = dfall.reset_index()
dfall = dfall[dfall['Ticker'] != '*']
dfall = dfall[dfall['Year'] >= 2000]
dfall.rename(columns = {'Case_Type': 'Total_Cases'}, inplace = True)
dfall

      Ticker  Year  Total_Cases
25         A  2001            1
26         A  2002            1
27         A  2003            2
28         A  2004            1
29         A  2005            2
...      ...   ...          ...
11007  ZXAIY  2018            1
11008   ZYNE  2019            1
11009   ZYNE  2020            1
11010   ZYXI  2009            1
11011   ZYXI  2011            1

[10275 rows x 3 columns]

In [119]:
# new dataframe for securites cases by year and company
dfsum = dfs.groupby(['Ticker', 'Year']).sum()['Securities/Commodities/Exchange (NOS 850)']
dfsum = dfsum.reset_index()
dfsum = dfsum[dfsum['Ticker'] != '*']
dfsum = dfsum[dfsum['Year'] >= 2000]
dfsum.rename(columns = {'Securities/Commodities/Exchange (NOS 850)': 'Securities'}, inplace = True)
dfsum

      Ticker  Year  Securities
25         A  2001         1.0
26         A  2002         0.0
27         A  2003         0.0
28         A  2004         0.0
29         A  2005         0.0
...      ...   ...         ...
11007  ZXAIY  2018         1.0
11008   ZYNE  2019         1.0
11009   ZYNE  2020         1.0
11010   ZYXI  2009         1.0
11011   ZYXI  2011         0.0

[10275 rows x 3 columns]

In [142]:
# new sparse temp df - blank rows for all combos of year/company
tics = list(dfsum['Ticker'].unique())
years = list(dfsum['Year'].unique())
tics.sort()
tica = tics * len(years)
tica.sort()
yearsa = years * len(tics)
sparse = pd.DataFrame({'Ticker':tica, 'Year': yearsa})
sparse.sort_values(by = ['Ticker', 'Year'])

# merging 
df_clean = sparse.merge(dfsum, how = 'left', on = ['Ticker', 'Year'])
df_clean = df_clean.merge(dfall, how = 'left', on = ['Ticker', 'Year'])
df_clean = df_clean.merge(dfs[['Ticker', 'Year']], how = 'left', on = ['Ticker', 'Year'])
df_clean = df_clean.drop_duplicates()
df_clean = df_clean.fillna(0)
df_clean = df_clean.merge(dfs[[ 'Ticker', 'CIK Code']],how = 'left',  on = ['Ticker']) # adding cik code to link to 
df_clean = df_clean[~df_clean.duplicated(subset = ['Ticker', 'Year'])] # dropping duplicates
df_clean

       Ticker  Year  Securities  Total_Cases   CIK Code
0           A  2001         1.0          1.0  1090872.0
9           A  2002         0.0          1.0  1090872.0
18          A  2003         0.0          2.0  1090872.0
27          A  2004         0.0          1.0  1090872.0
36          A  2005         0.0          2.0  1090872.0
...       ...   ...         ...          ...        ...
423402   ZYXI  2017         0.0          0.0   846475.0
423404   ZYXI  2020         0.0          0.0   846475.0
423406   ZYXI  2016         0.0          0.0   846475.0
423408   ZYXI  2019         0.0          0.0   846475.0
423410   ZYXI  2021         0.0          0.0   846475.0

[67936 rows x 5 columns]

In [143]:
df_clean.to_csv('Corporate_Lit_Outcomes_AggByYear.csv', index = False)